html,
body {
  margin: 0;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: block;
}

/* User Instruction Controls */

#controls {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  padding: 25px;
}

#controls-header {
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

#controls-list {
  color: white;
  margin: 0;
}

/* End of game stats */

#stats {
  display: none;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10;
  padding: 25px;
  font-size: larger;
}

#stats-header {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

#stats-list {
  color: white;
}

#health {
  display: none;
  position: absolute;
  width: 500px;
  height: 20px;
  background: rgb(4, 37, 128);
  bottom: 30px;
  right: 25%;
  left: 50%;
  margin-left: -250px;
  border-radius: 10px;
}
